body {
  background-color: cadetblue;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  text-align: center;
}

button {
	background-color:#007dc1;
	border-radius:28px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  width: 160px;
  margin: 5px;
}

.gameBoard {
  border-collapse:collapse;
  border-spacing:0;
  margin:0px auto;
  width: 400px;
  height: 400px;
  table-layout: fixed;
  
}

.gameBoard td {
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:80px;
  text-align: center;
  overflow:hidden;
  word-break:normal;
  width: 33%;
  height: 33%;
  background-color: white;
}

.gameBoard td:hover {
  background-color: lightgray;
}

#playerInput{
  text-align: center;
  justify-content: center;
}

#winner {
  text-align: center;
}